* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    flex-shrink: 0;
}

i {
    cursor: pointer;
}

main {
    background-color: black;
}

footer {
    width: 100%;
    background-color: rgb(34,34,34);
    flex-shrink: 0;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.icon-text-head button{
    cursor: pointer;
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(74,74,74);
}

.all-container {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100%/7 - 1rem);
    height: calc(100% / 5);
    flex-grow: 1;
    position: relative;
}

.mainimg {
    width: 100%;
}

.head-container {
    background-color: black;
    width: 100vw;
}

.icon-text-head {
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.main-container.flex {
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: .5rem;
    row-gap: 1rem;
    flex-grow: 1;
    overflow: auto;
}

.icon-text-container {
    padding: 2px;
    position: absolute;
    color: white;
    bottom: 4px;
    background-color: coral;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    margin: 20px 0 10px 10px;
    text-align: center;
}

.middle [class^=fa-] {
    font-size: 30px;
}

.left .icon-text-foot i{
    font-size: 30px
}

.middle {
    display: flex;
    margin: 20px 0 10px 10px;
    text-align: center;
    column-gap: 15px;
}

.left .mini-icon-foot {
    align-self: center;
    margin-left: 20px;
}

.second {
    margin-left: 20px
}

.icon-text-foot .fa-share-from-square{
    color: rgb(75,200,0);
}

.middle .unique i{
    font-size: 8px;
}

footer .footer-container .left .unique {
    font-size: 8px;
    margin: 20px 0 0 15px;
}

footer .footer-container .middle .unique {
    align-self: center;
}

footer .footer-container .right {
    display: flex;
    color: red;
    background-color: rgb(74,74,74);
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}


footer .footer-container .right button{
    text-decoration: none;
    cursor: pointer;
    color: red;
    background-color: rgb(74,74,74);
    border: 0;
}