* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    flex-shrink: 0;
}

main {
    width: 100%;
    background-color: black;
    flex-grow: 2;
}

footer {
    flex-basis: 5%;
    width: 100%;
    background-color: rgb(74,74,74);
    flex-shrink: 0;
}

.icon-text-head button{
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(74,74,74);
}

.all-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    width: calc(100%/7 - 1rem);
    flex-grow: 1;
    position: relative;
}

.mainimg {
    width: 100%;
}

.head-container {
    background-color: black;
    width: 100vw;
}

.icon-text-head {
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.main-container.flex {
    margin: 100px auto 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    column-gap: .5rem;
    row-gap: 1rem;
}

.icon-text-container {
    padding: 4px;
    position: absolute;
    color: white;
    bottom: 4px;
    background-color: coral;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}